@font-face {
  font-family: 'Involve';
  src: url('/fonts/Involve-VF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Involve', sans-serif;
}
